.services-container {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.services-content {
    background-color: #FFF1DC;
    display: flex;
    margin-top: 10%;
    height: 400px;
    margin-bottom: 10%;
    position: relative;
    width: 100%;
    border-radius: 50px;
    box-shadow: 4px 7px 8px rgba(0, 0, 0, 0.3);
    margin-left: auto;
    margin-right: auto;
}

.services-text {
    width: 50%;
    padding-top: 2%;
    padding-left: 2%;
}

.services-text p {
    padding-top: 1.5%;
    font-size: 1.5rem;
}

.services-text h1 {
    padding-top: 1.5%;
    font-size: 2rem;
    font-weight: 600;
}

.service-landscaping {
    font-size: 1.5rem;
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-right: 5%;
    padding-top: 2%;
}

.service-landscaping-mobile {
    display: none;
    justify-content: space-around;
    margin-top: 1%;
}

.service-landscaping li, .service-landscaping-mobile li {
    list-style: none;
}

.landscaping-text {
    padding-left: 55%;
    width: 100%;
    padding-right: 2%;
}

.services-cleaning-images {
    position: absolute;
    height: 500px;
    top: -50px;
    right: 50px;
}

.services-landscaping-images {
    position: absolute;
    height: 500px;
    top: -50px;
    left: 50px;
}

.services-powerwashing-images {
    position: absolute;
    height: 500px;
    top: -50px;
    right: 30px;
}


@media (max-width: 1650px) {

    .services-content {
        width: 95%;
        height: 350px;

    }

    .services-text {
        width: 50%;
    }

    .services-text p {
        font-size: 1.3rem;
    }
    
    .services-text h1 {
        font-size: 1.7rem;
    }
    
    .service-landscaping {
        font-size: 1.3rem;
    }

    .landscaping-text {
        padding-left: 55%;
        width: 100%;
        padding-right: 2%;
    }

    .services-cleaning-images {
        height: 450px;
        top: -50px;
        right: 50px;
    }
    
    .services-landscaping-images {
        height: 450px;
        top: -50px;
        left: 30px;
    }
    
    .services-powerwashing-images {
        height: 450px;
        top: -50px;
        right: 10px;
    }
}

@media (max-width: 1450px) {

    .services-content {
        width: 95%;
        height: 300px;

    }

    .services-text {
        width: 45%;
    }

    .services-text p {
        font-size: 1.2rem;
    }
    
    .service-landscaping {
        font-size: 1.2rem;
    }

    .landscaping-text {
        padding-left: 55%;
        width: 100%;
        padding-right: 2%;
    }


    .services-cleaning-images {
        height: 400px;
        top: -50px;
        right: 50px;
    }
    
    .services-landscaping-images {
        height: 380px;
        top: -40px;
        left: 20px;
    }
    
    .services-powerwashing-images {
        height: 380px;
        top: -30px;
        right: 5px;
    }
}

@media (max-width: 1150px) {

    .services-content {
        width: 95%;
        height: 250px;

    }

    .services-text {
        width: 45%;
    }

    .services-text p {
        font-size: 1rem;
    }
    
    .services-text h1 {
        font-size: 1.5rem;
    }
    
    .service-landscaping {
        font-size: 1rem;
    }

    .landscaping-text {
        padding-left: 60%;
        width: 100%;
        padding-right: 2%;
    }

    .services-cleaning-images {
        height: 350px;
        top: -50px;
        right: 50px;
    }
    
    .services-landscaping-images {
        height: 320px;
        top: -40px;
        left: 20px;
    }
    
    .services-powerwashing-images {
        height: 320px;
        top: -30px;
        right: 5px;
    }
}

@media (max-width: 900px) {

    .services-content {
        width: 75%;
        height: 600px;
        display: block;
        margin-bottom: 13%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .services-text {
        width: 100%;
    }

    .services-text p {
        font-size: 1.2rem;
    }
    
    .services-text h1 {
        font-size: 1.7rem;
        text-align: center;
    }
    
    .service-landscaping {
        font-size: 1.2rem;
    }

    .landscaping-text {
        width: 100%;
        padding-left: 1%;
        padding-right: 1%;
    }

    .services-cleaning-images {
        position: absolute;
        height: 390px;
        top: auto;
        bottom: -50px;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
    }
    
    .services-landscaping-images {
        position: absolute;
        height: 380px;
        top: auto;
        bottom: -50px;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
    }
    
    .services-powerwashing-images {
        position: absolute;
        height: 380px;
        top: auto;
        bottom: -50px;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
    }
}

@media (max-width: 775px) {

    .services-content {
        width: 75%;
        height: 600px;
        display: block;
        margin-bottom: 13%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .services-text {
        width: 100%;
    }

    .services-text p {
        font-size: 1.1rem;
    }
    
    .services-text h1 {
        font-size: 1.6rem;
        text-align: center;
        margin-bottom: 5%;
    }
    
    .service-landscaping {
        font-size: 1.1rem;
    }

    .landscaping-text {
        width: 100%;
        padding-left: 1%;
        padding-right: 1%;
    }

    .services-cleaning-images {
        position: absolute;
        height: auto;
        width: 85%;
        top: auto;
        bottom: -10%;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
    }
    
    .services-landscaping-images {
        position: absolute;
        width: 110%;
        top: auto;
        bottom: -50px;
        left: -5%;
    }
    
    .services-powerwashing-images {
        position: absolute;
        width: 110%;
        top: auto;
        bottom: -50px;
        left: -5%;
    }
}

@media (max-width: 650px) {

    .services-content {
        width: 75%;
        height: 550px;
        display: block;
        margin-bottom: 13%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .services-cleaning-images {
        position: absolute;
        height: auto;
        width: 85%;
        top: auto;
        bottom: -5%;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
    }
    
    .services-landscaping-images {
        position: absolute;
        width: 110%;
        top: auto;
        bottom: -10%;
        left: -5%;
    }
    
    .services-powerwashing-images {
        position: absolute;
        width: 110%;
        top: auto;
        bottom: -10%;
        left: -5%;
    }

    .services-text p {
        font-size: 1rem;
    }
    
    .services-text h1 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1%;
    }
    
    .service-landscaping {
        display: none;
    }

    .service-landscaping-mobile {
        display: flex;
    }
}

@media (max-width: 550px) {

    .services-content {
        height: 520px;
    }

    .services-cleaning-images {
        bottom: -7%;
    }
    
    .services-landscaping-images {
        bottom: -15%;
    }
    
    .services-powerwashing-images {
        bottom: -15%;
    }

    .services-text p {
        font-size: 1rem;
    }
    
    .services-text h1 {
        margin-top: 5%;
        font-size: 1.3rem;
    }

    .service-landscaping-mobile {
        display: flex;
    }

}

@media (max-width: 550px) {

    .services-content {
        height: 520px;
    }

    .services-cleaning-images {
        bottom: -3%;
    }
    
    .services-landscaping-images {
        bottom: -15%;
    }
    
    .services-powerwashing-images {
        bottom: -15%;
    }

    .services-text p {
        font-size: 1rem;
    }
    
    .services-text h1 {
        margin-top: 5%;
        font-size: 1.3rem;
    }

    .service-landscaping-mobile {
        margin-top: 3%;
    }

}

@media (max-width: 350px) {

    .services-cleaning-images {
        bottom: -3%;
    }
    
    .services-landscaping-images {
        bottom: -25%;
    }
    
    .services-powerwashing-images {
        bottom: -15%;
    }

    .services-text p {
        font-size: .9rem;
    }
    
    .services-text h1 {
        margin-top: 5%;
        font-size: 1.2rem;
    }

    .services-content-landscaping {
        height: 450px;
    }

    .service-landscaping-mobile {
        margin-top: 5%;
        font-size: .9rem;
    }

}