.footer-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    background-color: #323232;
    color: white;
}

@media (max-width: 600px) {
    

    .footer-container > p {
        font-size: 0.8rem;
    }
}

@media (max-width: 500px) {
    

    .footer-container > p {
        font-size: 0.6rem;
    }
}