.navbar-mobile-max-width {
    width: 100%;
    background-color: #323232;
    position: fixed;
    z-index: 10;
    display: none;
    top: 0;

}


.navbar-mobile-container {
    max-width: 1600px;
    display: flex;
    justify-content: space-around;
    padding-top: 1%;
    padding-bottom: 1%;
}

.logo {
    width: 200px;
}

.mobile-link-services, .mobile-link-contact {
   
    color: white;
    text-decoration: none;
}

.mobile-link-services:visited, .mobile-link-contact:visited {
    
    color: white;
    text-decoration: none;
}

.mobile-link-services-h1, .mobile-link-contact-h1 {
    font-style: normal;
    font-weight: 400;
}


@media (max-width: 1300px) {
    .navbar-mobile-max-width {
        display: inline;
    
    }
}